@model E_Commerce_Cake.Models.ViewModel.PriceEnter
@{
    ViewData["Title"] = "EnterPrice";
    Layout = "~/Views/Shared/_Admin.cshtml";

}
<h4 class="row justify-content-center">Price Enter</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="EnterPrice">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-10 margin">
                <input asp-for="priceId" class="form-control " autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="priceId" class="form-label">Enter Proce</label>
                <span asp-validation-for="priceId" class="text-danger "></span>
            </div>
            <div style="margin-top:10px;">
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary text-uppercase">Add Order Status</button>
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

