@model E_Commerce_Cake.Models.Database.Category

@{
    ViewData["Title"] = "DetailsCategory";
    Layout = "~/Views/Shared/_Admin.cshtml";

}

<h1>Category Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Category Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tittle)
        </dd>
    </dl>
</div>
<div>
    <a class="btn bg-success text-white" asp-action="EditCategory" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btn bg-dark text-white" asp-action="CategoryList">Back to List</a>
</div>
