@model E_Commerce_Cake.Models.ViewModel.ProductVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Admin.cshtml";

}

<h1 class="row justify-content-center">Edit Product</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-floating mb-10 margin" style="margin-top:10px;">
                <input asp-for="Name" class="form-control " autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Name" class="form-label">Product Name</label>
                <span asp-validation-for="Name" class="text-danger "></span>
            </div>
            <div class="form-floating mb-10 margin" style="margin-top:10px;">
                <textarea asp-for="Description" class="form-control " autocomplete="username" aria-required="true" placeholder="name@example.com" ></textarea>
                <label asp-for="Description" class="form-label">Description</label>
                <span asp-validation-for="Description" class="text-danger "></span>
            </div>

            <div class="form-floating mb-10 margin" style="margin-top:10px;">
                <input asp-for="Price" class="form-control " autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Price" class="form-label">Price</label>
                <span asp-validation-for="Price" class="text-danger "></span>
            </div>
            <div class="form-floating mb-10 margin" style="margin-top:10px;">
                <select asp-for="CategoryesId" class="form-control" asp-items="ViewBag.CategoryesId" autocomplete="username" aria-required="true" placeholder="name@example.com">
                    <option>select category</option>
                </select>
                <label asp-for="CategoryesId" class="form-label">Category Name</label>
                <span asp-validation-for="CategoryesId" class="text-danger "></span>
            </div>
            <div class="form-floating mb-10 margin" style="margin-top:10px;">
                <input asp-for="ImagePath" class="form-control " autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="ImagePath" class="text-danger "></span>
            </div>
            <div style="margin-top:10px;">
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary text-uppercase">Update Product</button>
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
