
@{
    ViewData["Title"] = "PageView";
    Layout = "~/Views/Shared/_Admin.cshtml";

}

<a class="btn bg-info text-black" asp-action="AddSubCategory" asp-controller="Products" asp-route-id="@TempData["Id"]">Add Sub Category</a>
<br />

