@model E_Commerce_Cake.Models.Database.SubCategory

@{
    ViewData["Title"] = "DetailsSubCategory";
    Layout = "~/Views/Shared/_Admin.cshtml";

}

<h1>SubCategory Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Sub-Category
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tittle)
        </dd>
        <dt class = "col-sm-2">
            Category
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cg.Tittle)
        </dd>
    </dl>
</div>
<div>
    <a class="btn bg-success text-white" asp-action="EditSubCategory" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btn bg-dark text-white" asp-action="SubCategoryList">Back to List</a>
</div>
