@model E_Commerce_Cake.Models.Database.UserType

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";

}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            UserType Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<div>
    <a class="btn bg-success text-white" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btn bg-dark text-white" asp-action="Index">Back to List</a>
</div>
