<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Cake Template">
    <meta name="keywords" content="Cake, unica, creative, html">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Template/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Template/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/Template/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="~/Template/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/Template/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Template/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Template/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Template/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Template/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Template/css/style.css" type="text/css">
</head>
<body>
    @*  <div id="preloder">
    <div class="loader"></div>
    </div> *@



    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header__top__inner">
                            <div class="header__top__left">
                                <ul>
                                    <li>
                                        INR
                                    </li>
                                    <li>
                                        ENG
                                    </li>
                                    <li><a asp-action="Login" asp-controller="Customer">Log In</a> </li>
                                    <li><a asp-action="Register" asp-controller="Customer">Register</a> </li>

                                </ul>
                            </div>
                            <div class="header__logo">
                                <a asp-action="Index" asp-controller="Home"><img src="~/Template/img/logo.png" alt=""></a>
                            </div>
                            <div class="header__top__right">
                                <div class="header__top__right__links">
                                    <a href="#" class="search-switch"><img src="~/Template/img/icon/search.png" alt=""></a>
                                    <a asp-action="Index" asp-controller="Favorate"><img src="~/Template/img/icon/heart.png" alt=""></a>
                                </div>
                                <div class="header__top__right__cart">
                                    <a asp-action="CheckOut" asp-controller="Cart">
                                        <img src="~/Template/img/icon/cart.png" alt=""> <span>0</span>
                                        <div class="cart__price">Cart</div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="canvas__open"><i class="fa fa-bars"></i></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                            <li><a asp-action="About" asp-controller="Home">About</a></li>
                            <li><a asp-action="Index" asp-controller="Cart">Shop</a></li>
                            <li><a asp-action="Create" asp-controller="ContactUs">Contact</a></li>
                            <li><a href="./contact.html">FeedBack</a></li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <div>
        @RenderBody()
    </div>

    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="img/footer-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>WORKING HOURS</h6>
                        <ul>
                            <li>Monday - Friday: 08:00 am – 08:30 pm</li>
                            <li>Saturday: 10:00 am – 16:30 pm</li>
                            <li>Sunday: 10:00 am – 16:30 pm</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>
                            Lorem ipsum dolor amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore dolore magna aliqua.
                        </p>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__newslatter">
                        <h6>Subscribe</h6>
                        <p>Get latest updates and offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit"><i class="fa fa-send-o"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <p class="copyright__text text-white">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <div class="copyright__widget">
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Site Map</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <!-- Js Plugins -->
    <script src="~/Template/js/jquery-3.3.1.min.js"></script>
    <script src="~/Template/js/bootstrap.min.js"></script>
    <script src="~/Template/js/jquery.nice-select.min.js"></script>
    <script src="~/Template/js/jquery.barfiller.js"></script>
    <script src="~/Template/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Template/js/jquery.slicknav.js"></script>
    <script src="~/Template/js/owl.carousel.min.js"></script>
    <script src="j~/Template/s/jquery.nicescroll.min.js"></script>
    <script src="~/Template/js/main.js"></script>
</body>
</html>
